/.idea
/.vscode
/.metals

/.terraform
/.terraform.tfstate.lock.info
/terraform.tfstate
/terraform.tfstate.*
/terraform.tfvars
**/target/

/ca.pem
/service.cert
/service.key
/client.keystore.p12
/client.truststore.jks
/client.properties
/pg.client.properties